<%if flash.alert||flash.notice%>
  <div id="top" class="row" style="margin-top:30px;">
<%else%>
<div id="top" class="row">
<%end%>
  <div class="top-sentence fade-in3 col-md-6 col-lg-6">
    <h2>大学の忘れ物管理を楽にー。</h2>
    <p class="mark_check">画像認識を用いて大学の教室内の忘れ物を検知</p>
    <p class="mark_check">このアプリに自動で追加し忘れ物管理を楽に。</p>
    <p class="mark_check">チャット機能で生徒とのやりとりもスムーズに</p>
<%unless current_user%>
    <div class="go-to-login">
      <button type="button" class="btn"><%=link_to("ログインする","login")%></button>
    </div>
<%end%>
  </div>

  <div class="top-image float col-md-6 col-lg-6">
    <img src="/assets/top.png" alt="忘れ物検知システム" id="top-image">
  </div>
</div>
<script>
  $("header").hide();
</script>
