<div id="top">
  <div class="top-sentence">
    <h2 class="fade-in2">大学の忘れ物管理を楽にするー。</h2>
    <p>画像認識を用いて大学の教室内の忘れ物を検知して</br>それをWebアプリケーションに自動で追加することにより</br>教務課の忘れ物管理を楽にします。</p>
    <p>生徒が忘れ物を探す</br>↓</br>目当ての忘れ物を見つけたら申請を送る</br>↓</br>管理者側とチャットをしたのちに忘れ物を受け取る</p>
    <div class="go-to-login">
      <button type="button" class="btn"><%=link_to("ログインする","login")%></button>
    </div>
  </div>

  <div class="top-image">
    <img src="/assets/top.png" alt="忘れ物検知システム" id="top-image">
  </div>
</div>
