<h2>どんな忘れ物をしましたか?</h2>
<%= form_tag('/q1_after', method: :post) do %>
    授業：<%=select_tag :lesson, options_for_select(@lessons_array)%>
    カテゴリー：<%=select_tag :category, options_for_select(@categorys_array)%>
    <%=submit_tag("次に進む")%>
 <% end %>