<h2>どんな忘れ物をしましたか?</h2>
<div class="forms_student">
<%= form_tag('/q1_after', method: :post) do %>
  <div class="form-group">
    <%=select_tag :lesson, options_for_select(@lessons_array,selected: @lessons_array[0], disabled: @lessons_array[0]),class:"form-control form_student form_student2"%>
    <%=select_tag :category, options_for_select(@categorys_array, selected: @categorys_array[0], disabled: @categorys_array[0]), class:"form-control form_student form_student2"%>
    </div>
    <%=submit_tag "次に進む",class:"btn btn-info btn-orange"%>
    </div>
 <% end %>
 
 