<h2 class="fade-in2">本人確認</h2>
<div class="forms_student fade-in">
  <div class="form_student_message">忘れ物の特徴を教えてください</div>
  <%=form_for @matter,url:"/q3_after/#{@matter.id}" do |form|%>
  <%=form.text_area :eve,class:"form-control from_big"%>
  <%=form.submit("申請する",id:"matter_make" ,class:"btn btn-info btn-orange")%>
  <%end%>
</div>