<%=form_tag :session,id:"login_form" do%>
    <div>
    <label>id:</label>
    <input type="text" name="student_id">
    </div>

    <div>
    <label>パスワード</label>
    <input type="text" name="password">
    </div>

    <div>
    <input type="submit" value="ログイン">
    </div>
<%end%>