<h2>管理人とのチャット</h2>
<div id="chats">
<% @chats.each do |chat|%>
  <%if chat.isAdmin%>
    <div class="balloon6">
    <div class="faceicon">
     <img src="/assets/admin.png" alt="管理人">
    </div>
    <div class="chatting">
      <div class="says">
        <p><%=chat.sentence%></p>
      </div>
    </div>
  </div>
    <%else%>
    <div class="mycomment">
    <p>
    <%=chat.sentence%>
    </p>
  </div>
    <%end%>
    <%end%>
</div>   
<form id="send-form">
  <input type="text" data-behavior="room_speaker_student" placeholder="入力後にEnterを押してね" style="width:60%;">
  <input id="user_id_student" type="hidden" value= "<%=current_user.id%>" value2= "<%=current_user.admin%>">
</form>
