<h2>管理人とのチャット</h2>
<div id="chats">
<% @chats.each do |chat|%>
    <%if chat.isAdmin%>
    <div id="chat">
        管理者：<br>
        メッセージ：<%=chat.sentence%><br>
      </div>
    <%else%>
    <div id="chat">
    <p style="text-align:right;">
        自分：
        メッセージ：<%=chat.sentence%><br></p>
      </div>
    <%end%>
    <%end%>
</div>
<h3>チャット送信</h3>
<form>
  <label>送りたい内容を入力してね</label><br>
  <input type="text" data-behavior="room_speaker_student">
  <input id="user_id_student" type="hidden" value= "<%=current_user.id%>" value2= "<%=current_user.admin%>">
</form>
