/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
 }
 body{
     padding: 0;
     background-color:#FFF4E1!important;
     color:rgba(97,83,58,.6)!important;/*前は「#707070」*/
     /*background-image:url("/assets/wasuremono_top2.png");*/
     background-size:cover;
     background-repeat: no-repeat;
     font-family: 'Noto Sans JP', sans-serif!important;

 }
 .container{
    margin-top:130px;
 }
 h2{
     color:rgba(97,83,58,.5);
     text-align:center;
     font-size:1.9em
 }
 .table{
     background: rgba(255,255,255,.3)
 }
 
 header{
     background-color:rgba(252,214,158,.99);
     width:100%;
     padding: 30px 4% 10px;
    position: fixed;/*固定*/
     top: 0;
     display: flex!important;
     align-items: center;
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
     margin-bottom:30px;
     z-index:999;
 }
 
 header nav div {
    font-size: .9em;
 }
 header nav a {	
    text-decoration: none;
    color: #fff;
    /*text-shadow:0px 2px 3px rgba(0,0,0,.5);*/
 }
 header h1{
    margin: 0; padding: 0;
 }
 header h1 img{
     max-width:200px;
 }
 nav {
    margin: 0 0 0 auto;
    display: flex!important;
 }
 @media (max-width:660px){
    nav {
        display: none!important;
     }
 }
 .current_user{
     position: absolute;
     right:40px;
     top:10px;
 }
 /*flash*/
 .alert{
     opacity:.6;
     top:-20px;
 }
 .drop-menu{
     position:absolute;
     padding:0;
     background-color:rgba(255,0,0,.29);
     list-style: none;
}
.drop-menu li a{
    color:#fff;
}
   /************************************
** トップページ
************************************/
/*
.top-photo{
    width:100%;
    height: 100vh;
    background-image:url("/assets/top-photo-osya.png");
    background-size: contain;
    background-repeat:no-repeat;
}*/
.top-photo{
    position: relative;
}
.top-photo>img{
    width:100%;
}
.top-photo button{
    position: absolute;
    z-index: 999;
    right:40px;
    top:30px;
    background-color: transparent;
    border:1px solid rgba(97,83,58,.5);
    padding: 10px 50px;
}
.top-photo button{
    color:rgba(97,83,58,.7);
    text-decoration: none;
    font-size:.9rem
}
.how-system{
    margin:0 auto;
    text-align: center;
    margin-top:30px;
}
.how-system img{
    transform:rotate(90deg);
    max-width:70px;
    width:4%;
    opacity:.5;
}
#top{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:90px;
    margin-bottom:100px;
    /*background-color:#fff;*/
}
#top-image{
     max-width:500px;
     opacity:.7;
     width:80%;
 }
.top-image{
    padding-left:60px!important;
}
.top-sentence{
    text-align:center;
    padding:0!important;
}
.top-sentence h2{
    margin-bottom:50px;
    font-size:2.3rem;
}
.top-sentence .dis{
    margin-bottom:40px;
}
.top-sentence p{
    font-size:1rem;
}
.go-to-login{
    margin-top:30px;
}
.go-to-login button{
    text-decoration: none;
    color:#fff;
    font-weight: 900;
}
.box_yellow {
    padding: .5em 1em .6em 1em!important;
    margin: 2em 0!important;
    background: #fffdef;/*背景色*/
  }

  /************************************
** アラートボックス
************************************/
 .alert-box{
    position: absolute;
    top:0;
    top: 17%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width:40%;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.18);
    padding: 5% 5% 3% 5%;
    background-color:#fff;
    text-align:center;
    z-index: 999;
    -webkit-animation: 5s alert ease-in-out;
    animation: 5s alert ease-in-out;
    display:none;
    
    position: fixed;/*固定*/
}
 /************************************
** 生徒用のフォーム
************************************/
 .forms_student{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: 40%;
    text-align: center;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.18);
    padding: 5% 5% 3% 5%;
    border-radius:8%;
    border:2px solid #fcd69e;
 }

 .form_student{
    margin-bottom: 20px;
	padding-right: 1em;
	cursor: pointer;
	text-overflow: ellipsis;
	outline: none;
    color:#707070!important;
    /*box-shadow: 0 2px 2px rgba(0,0,0,.02);*/
 }

.form_student.form_student2 {
	position: relative;
    border-radius: 50px;
    border: 1px solid #eeeeee;
}

.from_big{
    margin-bottom:10%;
}
.form_student_message{
    margin-bottom:5%;
    margin-top:-7%;
}

 /*
 .form_student.form_student2::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fcd69e;
	pointer-events: none;
}
 .form_student option{
     font-size:.5em;
 }
 */
 .btn{
     transition: all 300ms linear;
     font-weight:900!important;
 }
 .btn:hover{
     transform: translateY(2px);
     transform: scale(1.08,1.08);
 }

header .btn {
    background-color:rgba(255,0,0,.3)!important;
    color:#fff;
    margin-left:10px;
}
 .btn-orange{
    background-color:#fcd69e!important;
    border:initial!important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.23);
    font-weight: 900!important;
 }
 .go-to-login .btn{
    background-color:rgb(244,165,138);/*#F8A839*/
    margin-left:10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.2), 0 2px 3px -2px rgba(0,0,0,.15);
 }
 
 .other-btn .btn{
    background-color:rgb(244,165,138);/*#F8A839*/
    margin-left:10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.03), 0 2px 3px -2px rgba(0,0,0,.03);
 }
 .other-btn .btn{
    text-decoration: none;
    color:#fff;
    font-weight: 900;
    font-size:.9em;
 }
 /*inputタグのボタンを装飾*/
 button>input {
    background: transparent;
    border: initial;
    color: #fff;
    font-weight: bold;
}

 /************************************
** テーブル
************************************/
.table{
    margin-top:50px;
}

/************************************
** チャットの吹き出し
************************************/
#chats{
    padding: 20px 10px;
  max-width: 450px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;

}
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
 /************************************
** fontAwesome
************************************/
 .mark_check:before{
    font-family: "Font Awesome 5 Free"!important;
    content: "\f00c";
    color: #f8c678;
    font-weight: 900;
    font-size:1.25em;
    padding-right:4px;
    /*animation: slide2 1.4s infinite;*/
  }
/************************************
** アニメーション
************************************/
 .fade-in {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 @keyframes fadein {
    0% {
       opacity: 0;
       transform: translate(-50%,-30%);
    }
    100% {
       opacity: 1;
       
    }
 }
 .fade-in2 {
    opacity: 0;
    animation-name: fadein2;
    animation-duration:2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 @keyframes fadein2 {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0px);
    }
 }
 .fade-in3 {
    opacity: 0;
    animation-name: fadein3;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 @keyframes fadein3 {
    0% {
       opacity: 0;
       transform: translateY(30%);
    }
    100% {
       opacity: 1;
    }
 }
 .fade-in4 {
    opacity: 0;
    animation-name: fadein4;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 @keyframes fadein4 {
    0% {
       opacity: 0;
       
    }
    100% {
       opacity: 1;
    }
 }
 .float {
    -webkit-animation: 2s float ease-in-out infinite;
    animation: 2s float ease-in-out infinite;
  }
 @keyframes float {
    50% {
      transform: translateY(-10px);
    }
  }
  @keyframes alert {
    0% {
       opacity: 0;
       
    }
    100% {
       opacity: 1;
    }
 }
 
 @keyframes alert {
    0% {
      margin-top:-100px;
      opacity: 1;
    }
    15%{
        margin-top:0;
    }
    90%{
        opacity: 1;
    }
  
  }
  .fadein-left{
    -webkit-transition: all 1.1s linear;
    -o-transition: all 1.1s linear;
    transition: all 1.1s linear;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  .fadein-left.active{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  
  .expansion{
    -webkit-animation: 1.7s expansion ease-in-out infinite;
    animation: 1.7s expansion ease-in-out infinite;
  }
  @keyframes expansion {
    0% {
    
    }
    100%{
      transform: scale(1.1,1.1);
      opacity:.7;
    }
   
}